.vscode/tasks.json
PrimeFactorClassLib/obj/project.assets.json
PrimeFactorClassLib/obj/project.nuget.cache
*.pdb
*.AssemblyInfo
*.json
*.dll
*.cache
*.editorconfig
*.props
*.txt
*.CopyComplete
*.exe
*.targets
*/Assembly?
PrimeFactorConsole/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PrimeFactorClassLib/obj/Debug/net5.0/PrimeFactorClassLib.AssemblyInfo.cs
PrimeFactorUnitTests/obj/Debug/net5.0/PrimeFactorUnitTests.AssemblyInfo.cs
